body  {
    background-color: #333;
    color: white;
    text-decoration: none;
}
h1{
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}
ul {
    list-style-type: none;
    background-color: darkcyan;
    position: fixed;
    margin-top: -20px;
    margin-left: -8px;
    width: 100%;
    
}
ul li {
    display: inline-block;
    padding: 20px;
    margin-left: 150px;
    font-size: 20px;
    cursor: pointer;
  }
ul :hover {
    color: #39ff14;
    background-color: rosybrown;
}
a, a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: #39ff14;
}
dl {
    font-size: 20px;
}
